@model Sinx.UnitTest.UI.AspNetCore.Models.DTO_Article
@{
	ViewData["Title"] = "DotNetStudio";
	var article = Model;
}
@section Styles{
	<script src="~/lib/marked/marked.min.js"></script>
}
<hr />
<div class="page-header">
	<h1>@article.Title <small>@*SinxHe*@</small></h1>
</div>
<hr />
<div id="markdown">
	
</div>
<script>
	var tokens = marked.parser(marked.lexer('@article.Content'));
	document.getElementById("markdown").innerHTML = tokens;
</script>